{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}


<div class="row">
	<div class="col-md-12">
		<div class="card card-body">
            <h1>Create A New Customer/Company</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card card-body">
			<form action="" method="POST">
            	{% csrf_token %}
                    <div class="col-12">
                        <div class="row">
                            
                            </div>
                           
                        </div>
                        <div class="row">
                            
                            <div class="col-3">
                                <span>COMPANY NAME</span>
                                <input type="text" name="company_name" maxlength="200" class="form-control" required="" id="id_company_name">
                            </div>
                            <div class="col-3">
                                <span>TELEPHONE</span>
                                <input type="text" name="telephone" maxlength="200" class="form-control"  id="id_tel_phone">
                            </div>
                            <div class="col-3">
                                <span>EMAIL</span>
                                <input type="text" name="email" maxlength="200" class="form-control"  id="id_tel_phone">
                            </div>
                            <div class="col-12">
                                <span>ADDRESS</span>
    
                            </div>
                            <div class="col-3">
                                <span>STREET</span>
                                <input type="text" name="street" maxlength="200" class="form-control" id="street">
                            </div>
                            <div class="col-3">
                                <span>CITY</span>
                                <input type="text" name="city" maxlength="200" class="form-control" id="id_address">
                            </div>
                            <div class="col-3">
                                <span>MUNCIPALITY</span>
                                <input type="text" name="muncipality" maxlength="200" class="form-control" id="id_address">
                            </div>
                            <div class="col-3">
                                <span>STATE</span>
                                <input type="text" name="state" maxlength="200" class="form-control"  id="id_address">
                            </div>
                            <div class="col-3">
                                <span>COUNTRY</span>
                                <input type="text" name="country" maxlength="200" class="form-control" id="id_address">
                            </div>
                            <div class="col-3">
                                <span>P.O BOX NO.</span>
                                <input type="text" name="poboxno" maxlength="200" class="form-control" id="id_address">
                            </div>
                            <div class="col-3">
                                <span>POST OFFICE</span>
                                <input type="text" name="postoffice" maxlength="200" class="form-control" id="id_address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-3">
                                <span>CONTACT PERSON NAME</span>
                                 <input type="text" name="contact_person1">
                                    
        
                            </div>
                            <div class="col-3">
                                <span>MOBILE NUMBER</span>
                                <input type="text" name="mobile1" maxlength="200" class="form-control" id="id_contact">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-3">
                                <span>CONTACT PERSON NAME</span>
                                 <input type="text" name="contact_person2">
                                    
        
                            </div>
                            <div class="col-3">
                                <span>MOBILE NUMBER</span>
                                <input type="text" name="mobile2" maxlength="200" class="form-control"  id="id_contact">
                            </div>
                        </div>
                        <div class="row">
                          

                        <hr>
                        <!-- <button type="button" class="btn btn-info" onclick="onclick_add_order()">Add</button> -->
                        <div class="btn btn-info d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Add">
                          </div>
                    </div>
			</form>
		</div>
	</div>

</div>

{% endblock %}