{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}


<div class="row">
	<div class="col-md-12">
		<div class="card card-body">
            <h3>Place Order</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card card-body">
			<form action="" method="POST">
            	{% csrf_token %}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3">
                                <div class="w3-light-grey">
                                    <div class="w3-container w3-green w3-center" style="width:25%">Lead </div>
                                  </div><br>
                            </div>
                        
                               <div class="col-6">
                                <p>Please select Lead Or Deal:</p>
                                <input type="radio" id="lead" name="radio" value="lead">
                                <label for="lead">Lead</label><br>
                                <input type="radio" id="Deal" name="radio" value="Deal">
                                <label for="female">Deal</label><br>

                                <br>  
                               </div>
                            
                            <div class="col-6"></div>
                            <div class="col-3">
                                <span>STATUS</span>
                                <select name="status" class="form-control" required="" id="id_status">
                                    {% for item in status %}
                                        <option value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span>DATE</span>
                                <input type="text" name="date" maxlength="200" class="form-control" id="id_date" required>
                            </div>
                            <div class="col-3">
                                <span>ORDER NO</span>
                                <input type="text" name="order_no" maxlength="200" class="form-control" required="" id="id_order_no">
                            </div>
                            <div class="col-3">
                                <span>COMPANY NAME</span>
                                <select name="customer" class="form-control" required="" id="id_customer" onchange="onCompanySelect()">
                                    <option value="">Select Company</option>
                                    {% for item in customers %}
                                        <option value="{{ item.id }}">{{ item.company_name }}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>
                            <div class="col-3">
                                <span>TELEPHONE</span>
                                <input type="text" name="tel_phone" maxlength="200" class="form-control" required="" id="id_tel_phone">

                            </div>
                            <div class="col-12">
                                <span>ADDRESS</span>
    
                            </div>
                            <div class="col-3">
                                <span>STREET</span>
                                <input type="text" name="street" maxlength="200" class="form-control" required="" id="street">
                            </div>
                            <div class="col-3">
                                <span>CITY</span>
                                <input type="text" name="city" maxlength="200" class="form-control" required="" id="city">
                            </div>
                            <div class="col-3">
                                <span>MUNCIPALITY</span>
                                <input type="text" name="munciplaity" maxlength="200" class="form-control" required="" id="muncipality">
                            </div>
                            <div class="col-3">
                                <span>STATE</span>
                                <input type="text" name="state" maxlength="200" class="form-control" required="" id="state">
                            </div>
                            <div class="col-3">
                                <span>COUNTRY</span>
                                <input type="text" name="country" maxlength="200" class="form-control" required="" id="country">
                            </div>
                            <div class="col-3">
                                <span>P.O BOX NO.</span>
                                <input type="text" name="poboxno" maxlength="200" class="form-control" required="" id="poboxno">
                            </div>
                            <div class="col-3">
                                <span>POST OFFICE</span>
                                <input type="text" name="postoffice" maxlength="200" class="form-control" required="" id="postoffice">
                            </div>
                        </div>
                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="margin-top: 5px;margin-bottom: 5px">
                                <span style="margin-right: 15px">PRODUCT</span><button style="" type="button" class="btn btn-info" onclick="onclick_add_product()">+Add new item</button>
                            </div>
                            <div class="col-12">
                            <table width="100%">
                                <thead>
                                    <th>S.No</th>
                                    <th>Description</th>
                                    <th>Brand</th>
                                    <th>Code</th>
                                    <th>Qty</th>                                   
                                    <th> Tons</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </thead>
                                <tbody id="multi_product"></tbody>
                            </table></div>
                        </div>
                        <p>&nbsp;<br/></p>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-3">
                                <span>Sub-Total:</span>
                                <span id="totalv">0</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-3">
                            <span>Vat Percentage</span>
                            <input type="text" name="vat" maxlength="200" class="form-control" required="" id="vat" onchange="onclick_grand_total()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-3">
                            <span>Vat Value</span>
                            <input type="text" name="vat" maxlength="200" class="form-control" id="vat_value">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-3">
                            <span>Transportation Charge</span>
                            <input type="text" name="transport_charge" maxlength="200" class="form-control" id="transport_charge">
                            <!--<span id="transcharge">0</span>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-3">
                            <span>Grand Total:</span>
                            
                            <input type="text" name="grand_total" maxlength="200" class="form-control" id="grand_total" onchange="onclick_grand_total()">

                            
                            </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-3">
                            <span>Payment Terms</span>
                            <select name="Payment Terms" class="form-control" id="payment_terms">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                </select>
                            </div>
                            
                        
                            
                            <div class="col-3">
                            <span>Collection Terms</span>
                            <select name="CollectionTerms" class="form-control" id="collection_terms">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="B">C</option>
                                <option value="D">D</option>
                                </select>
                            </div>

                            <div class="col-3">
                                <span>Delivery To</span>
                                <select name="Delivery To" class="form-control" id="delivery_to">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    </select>
                                </div>
                            </div>
                        <div class='row'>
                            <div class="col-12">
                                Delivery After <input type="text" name="delivery_days" id="delivery_days"> No. Of days
                            </div>
                        </div>
                        <div class='row'>
                            <span> Notes</span>
                            <div class="col-12">
                                
                                <textarea rows="4" cols="50" name="notes" id="notes"></textarea>
                            </div>
                        </div>

                        <div class='row'>
                            <div class="col-3">
                                <span> Sales Person :</span>
                                <select name="sales_person" class="form-control" id="sales_person">
                                    
                            
                                        <option value="{{ request.user }}">{{ request.user }}</option>
                    
                                </select>
                            </div>
                        </div>
                        
                    <div class='row'>
                        <button type="button" class="btn btn-info" onclick="onclick_add_order()">Add</button>
                    </div>
			</form>
		</div>
	</div>

</div>
<script>

    
    let products = [];
    {% for item in products %}
        var product_item = {
            'id': '{{ item.id}}',
            'name': '{{ item.name}}',
            'brand': '{{ item.brand}}',
            'code': '{{ item.code}}',
            'size': '{{ item.size}}',
        };
        products.push(product_item);
    {% endfor %}

    let units = [];
    {% for item in units %}
        var unit_item = {
            'name': '{{ item.name}}',
            'val': '{{ item.val}}',
        };
        units.push(unit_item);
    {% endfor %}

    function onclick_add_product(){
        var i = ($("#multi_product").children().length) + 1;

        var htm = '';
        htm += '<tr id="product_tr_' + i + '">';

        var productname_htm = '';
        productname_htm += '<select class="pd_row__fill-weki form-control td_mg id_productname" name="productname" onchange="onclick_product_row(' + i +')">';
        productname_htm += '<option value="">Select</option>';
        for (var k = 0;k < products.length;k++){
            productname_htm += '<option value="'+ products[k].id +'">' + products[k].name + '</option>';
        }
        productname_htm += '</select>';

        htm += '<td>';
        htm += '' + i + '';
        htm += '</td>';

        htm += '<td>';
        htm += productname_htm;
        htm += '<input type="hidden" name="product_size_'+i+'" id="product_size_'+i+'" />';
        htm += '</td>';
    
       // htm += '<td>';
       // htm += '<select name="Size" class="form-control" required="" id="id_size"><option value="">8 mm </option><option value="">10 mm </option><option value="">12 mm </option><option value="">14 mm </option><option value="">16 mm </option><option value="">18 mm </option><option value="">20 mm </option><option value="">25 mm </option>';
       // htm += '</td>';

        htm += '<td>';
        htm += '<span class="pd_row__fill-weki form-control td_mg" id="brand_' + i +'">' + products[0].brand +'</span>';
        htm += '</td>';

        htm += '<td>';
        htm += '<span class="pd_row__fill-weki form-control td_mg" id="code_' + i +'">' + products[0].code +'</span>';
        htm += '</td>';

        htm += '<td>';
        htm += '<input class="pd_row__fill-weki form-control td_mg product_qty" id="qty_' + i + '" value="0" type="Text" style="" onchange="onclick_total_v_row(' + i + ')">';
        htm += '</td>';

        htm += '<td>';
        htm += '<input class="pd_row__fill-weki form-control td_mg" id="ton_' + i + '" value="0" type="text" style="" onchange="onclick_total_v_row(' + i + ')">';
        htm += '</td>';

        var unit_htm = '';
        unit_htm += '<select class="pd_row__fill-weki form-control td_mg" name="unit" id="id_unit">';
        for (var k = 0;k < units.length;k++){
            unit_htm += '<option value="' + units[k]['val'] +'">' + units[k]['name'] + '</option>';
        }
        unit_htm += '</select>';

        htm += '<td>';
        htm += unit_htm;
        htm += '</td>';

        htm += '<td>';
        htm += '<input class="pd_row__fill-weki form-control" id="price_' + i + '" value="0" type="number" style="" onchange="onclick_total_v_row(' + i + ')">';
        htm += '</td>';

        htm += '<td>';
        htm += '<input class="pd_row__fill-weki form-control td_mg" id="discount_' + i +'" value="0" onchange="onclick_total_v_row(' + i + ')"/>';
        htm += '</td>';

        htm += '<td>';
        htm += '<span class="pd_row__fill-weki form-control td_mg" id="total_' + i +'"></span>';
        htm += '</td>';

        htm += '<td>';
        htm += '<button type="button" class="btn btn-info" onclick="onclick_delete_row('+ i +')">Delete</button>';
        htm += '</td>';

        htm += '</tr>';

        $("#multi_product").append(htm);

    }


    function onclick_grand_total(){
        var vat = $('#vat').val();
        var total = $("#totalv").text();
        var transportCharge = $('#transport_charge').val();

        vat = parseFloat(vat);
        total = parseFloat(total);
        transportCharge = parseFloat(transportCharge);

        if(vat === NaN)
            vat = 0.0;
        if(total === NaN)
            total = 0.0;
        if(transportCharge === NaN)
            transportCharge = 0.0;

        $("#grand_total").text((total + (total * vat/100) + transportCharge).toFixed(2));
    }

    function onclick_product_row(row_id){
        var product_id = $('#product_tr_' + row_id + ' .id_productname').val();
        for (var k = 0;k < products.length;k++){
            if (products[k]['id'] == product_id){
                $('#product_tr_' + row_id + ' #brand_' + row_id).text(products[k]['brand']);
                $('#product_tr_' + row_id + ' #code_' + row_id).text(products[k]['code']);
                $('#product_tr_' + row_id + ' #product_size_' + row_id).val(products[k]['size']);
            }
        }
    }
    function onclick_total_v_row(row_id){


        var sizeArray = {
            '8': '210',
            '10': '135',
            '12': '92',
            '14': '68',
            '16': '52',
            '18': '41',
            '20': '33',
            '25': '21'
        };
        var ton = '';
        

        var row_price = $('#product_tr_' + row_id + ' #price_' + row_id).val();
        var row_qty = $('#product_tr_' + row_id + ' #qty_' + row_id).val();
        var row_discount = $('#product_tr_' + row_id + ' #discount_' + row_id).val();
        var row_size = $('#product_tr_' + row_id + ' #product_size_' + row_id).val();
        row_price = parseFloat(row_price);
        row_qty = parseInt(row_qty);
        row_discount = parseFloat(row_discount);

        for (let key in sizeArray) {
            console.log(key, sizeArray[key]);
            if(row_size == key){
                ton = (row_qty/sizeArray[key]).toFixed(2);
                break;
            }
        }
        $('#ton_'+row_id).val(ton);

        var tempTotal = (row_price * ton).toFixed(2);
        var percentageDicount = tempTotal * (row_discount) / 100;
        var total = tempTotal - percentageDicount;
        $('#product_tr_' + row_id + ' #total_' + row_id).text(total.toFixed(2));

        var total_len = $("#multi_product").children().length;
        var totalv = 0;
        for(var i = 1; i <= total_len; i++){
            var row_total = $('#product_tr_' + i + ' #total_' + i).text();
            row_total = parseFloat(row_total);
            totalv += row_total;
        }
        $("#totalv").text(totalv.toFixed(2));
        $("#vat").val((totalv * 0.05).toFixed(2));

        var vat = $("#vat").val();
        $("#grand_total").text((totalv + (totalv * vat/100)).toFixed(2));
    }
    function onclick_add_order(){
        var total_len = $("#multi_product")[0].childNodes.length;
        console.log("total_len", total_len)
        var product_ids_array = [];
        var qty_array = [];
        var price_array = [];
        var discount_array = [];
        for(var i = 1; i <= total_len; i++){
            if ($('#product_tr_' + i+'').css('display')=='none')
                continue;
            var row_product_id = $('#product_tr_' + i + ' td select.id_productname').val();

            var row_price = $('#product_tr_' + i + ' #price_' + i).val();
            var row_qty = $('#product_tr_' + i + ' #qty_' + i).val();
            var row_discount = $('#product_tr_' + i + ' #discount_' + i).val();
            if (row_price == '' || row_qty == "" || row_discount == ''){
                alert("Invalid inputs in table");return;
            }
            row_price = parseFloat(row_price);
            row_qty = parseInt(row_qty);
            row_discount = parseFloat(row_discount);
            product_ids_array.push(parseInt(row_product_id));
            qty_array.push(row_qty);
            price_array.push(row_price);
            discount_array.push(row_discount);
        }
        var param = {
            order_type: $('#lead').val(),
            Date: $('#id_date').val(),
            status: $('#id_status').val(),
	        order_no: $('#id_order_no').val(),
	        company_name: $('#id_customer').val(),
	        tel_phone: $('#id_tel_phone').val(),
	        street: $('#street').val(), 
	        city: $('#city').val(),
	        muncipality: $('#muncipality').val(),
	        state: $('#state').val(),
	        country: $('#country').val(),
	        poboxno: $('#poboxno').val(),
	        postoffice: $('#postoffice').val(),
	        sub_total: $('#totalv').text(),
	        vat: $('#vat').val(),
            transport_charge: $('#transport_charge').val(),
            grand_total: $('#grand_total').val(),
            payment_terms: $('#payment_terms').val(),
            collection_terms: $('#collection_terms').val(),
            delivery_to: $('#delivery_to').val(),
            delivery_days: $('#delivery_days').val(),
            notes: $('#notes').val(),
            sales_person: $('#sales_person').val(),
            product:JSON.stringify(product_ids_array),
            price:JSON.stringify(price_array),
            qty:JSON.stringify(qty_array),
            discount:JSON.stringify(discount_array),
            total: JSON.stringify(discount_array),
        };
        $.ajax({
            type: "POST",
            url: "/create_order/",
            data: param,
            success: function(res){
                if (res === "success"){
                    alert("Order added");
                } else {
                    alert("Error occured");
                }
            }
        })
    }
    function onclick_delete_row(row_id){
        $('#product_tr_' + row_id).remove();
        reset_index();
    }

    function reset_index(){
        $('#multi_product tr').each(function(i) {
            $(this).find("td:first").html(i + 1);
        });
    }

    function onCompanySelect(){
        $.ajax({
            type: "POST",
            url: "/get_customer_data/",
            data: {customer_id: jQuery('#id_customer').val()},
            success: function(res){

                if(res.error){
                    alert('Error Occured');
                }
                else{

                    jQuery('#id_tel_phone').val((res.customer.telephone ? res.customer.telephone : ''))
                    jQuery('#street').val((res.customer.street ? res.customer.street : ''))
                    jQuery('#city').val((res.customer.city ? res.customer.city : ''))
                    jQuery('#muncipality').val((res.customer.muncipality ? res.customer.muncipality : ''))
                    jQuery('#state').val((res.customer.state ? res.customer.state : ''))
                    jQuery('#country').val((res.customer.country ? res.customer.country : ''))
                    jQuery('#poboxno').val((res.customer.poboxno ? res.customer.poboxno : ''))
                    jQuery('#postoffice').val((res.customer.postoffice ? res.customer.postoffice : ''))
                    jQuery('#poboxno').val((res.customer.poboxno ? res.customer.poboxno : ''))
                    jQuery('#postoffice').val((res.customer.postoffice ? res.customer.postoffice : ''))

                }
            }
        })

    }


    function onProductAdd(){
     
    }

    function datepickerLoad() {
        jQuery( "#id_date" ).datepicker({dateFormat: "yy-mm-dd"}).datepicker('setDate', new Date());
        
        
    }
    datepickerLoad();
    
    onclick_total_v_row();


</script>
{% endblock %}